<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelupalsta</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    </head>

    <body>
        <h1>Aihealueet</h1>

        <ul>
            <li th:each="aihe: ${aihealueet}">
                <a th:href="@{~/aihealueet/{id}(id=${aihe.id})}" 
                   th:text="${aihe.nimi}">aihealue</a>
            </li>
        </ul>
        <form method="POST">
            <h2>Lisää aihealue</h2>
            <input type="text" name="aihealue"/>
            <input type="submit" value = "Lisää"/>
        </form> 
    </body>
</html>
