<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelupalsta</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/styles.css" media="all" type="text/css"></link>
    </head>

    <body>
        <h2>Keskustelut aihealueen "<a th:href="@{~/aihealueet}" th:text="${alue.nimi}">aihealue</a>" keskustelusta "<a th:href="@{~/aihealueet/{id}(id=${alue.id})}" th:text="${keskustelunavaus.kuvaus}">keskustelunavaus</a>"</h2>
        <ul>        
            <li th:each="viesti : ${viestit}">
                <span th:text="${viesti.nimimerkki}">nimi</span> (<span th:text="${viesti.time}">aika</span>): <span th:text="${viesti.viesti}">kuvaus</span>               
            </li>
        </ul>

        <h3>Lisää uusi viesti</h3>
        <form method="POST">
            <input type="text" name="nimimerkki" placeholder="nimimerkki"/>
            <input type="text" name="viesti" placeholder="viesti"/>
            <input type="submit" value="Lisää"/>
        </form>

    </body>
</html>